{
  "extends": "airbnb",
  "env": { "browser": true },
  "rules": {
    "quotes": ["error", "double"],
    "import/prefer-default-export": 0,
    "space-before-function-paren": ["error", "always"],
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "object-curly-newline": ["error", {
      "ObjectPattern": { "multiline": true, "minProperties": 6 },
    }]
  }
}