*, *:after, *:before
  box-sizing: inherit

html
  font-family: "Mukta", sans-serif
  box-sizing: border-box

body
  margin: 0

.content-wrapper
  min-height: 100vh

.wrapper
  +padding(null 2rem)
.wrapper--pad
  +padding(2rem)

.row
  display: flex
  flex-direction: row
.col
  display: flex
  flex-direction: column

.row, .col
  &.--center
    align-items: center
  &.--center-center
    align-items: center
    justify-content: center
  &.--wrap
    flex-wrap: wrap

.flex1
  flex: 1

.full
  height: 100%

.text-right
  text-align: right
.text-nowrap
  white-space: nowrap

.scrollable
  flex: 1
  overflow-x: none
  overflow-y: auto
  height: 100%

+after(tablet)
  .wrapper
    +padding(null 4rem)
  .wrapper--pad
    +padding(4rem)
