*, *:after, *:before
  box-sizing: inherit

html
  font-family: "Mukta", sans-serif
  box-sizing: border-box
  background-color: #E9E9E9

body
  margin: 0

html, body, #root, #root > div
  height: 100%
